@mixin button($btn-color) {
	border-color: darken($btn-color, 20%);
	background-color: $btn-color;
	padding: 10px;
	border-radius: 3px;
	text-align: center;
	margin: 0 30px;
	color: white;
	font-weight: bold;
	&:visited { 
		color: white;
	}
	&:hover { 
		color: white;
	}
	&:active { 
		color: white;
	}
}

.button-block {
	display: block;
	width: 100%;
}

.button-violet {
	@include button($rum-violet);
}

.button-yellow {
	@include button($rum-yellow);
}

.button-blue {
	@include button($rum-blue);
}
